<!DOCTYPE html>
<html ng-app="myApp" >

<head>
  <title>AngularJS Wizard Demo</title>
  <style>
    .wizard{
      text-align: center;
      line-height: 1.7em;
    }
    .wizard .buttons{
      margin: 10px;
    }

    .wizard .buttons a:hover{
      font-weight: bold;
      padding: 10px;
    }
  </style>
</head>

<body>
  <a href="https://github.com/smsohan/angular_wizard"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

  <div ng-controller="WizardController">

    <script id="wizard.html" type="text/ng-template">
      <div class="wizard">

        <h1> AngularJS Wizard Demo </h1>


        <div ng-transclude></div>

        <div class="buttons">
          <a ng-click="showPreviousStep()" ng-show="hasPrevious()">Previous</a>
          <a ng-click="showNextStep()" ng-show="hasNext()">Next</a>
        </div>

      </div>
    </script>

    <wizard on-before-step-change="log(event)" on-step-changing="log(event)" on-after-step-change="log(event)">

      <step title="Step 1: Name">
        <strong>Name:</strong> <input type="text" ng-model="user.name"/>
      </step>

      <step title="Step 2: Email">
        <strong>Name:</strong> {{user.name}}
        <br>
        <strong>Email:</strong> <input type="text" ng-model="user.email"/>
      </step>

      <step title="Step 3: Address">
        <strong>Name:</strong> {{user.name}}
        <br>
        <strong>Email:</strong> {{user.email}}
        <br>
        Address: <input type="text" ng-model="user.address"/>
      </step>

      <step title="Step 4: Color">
        <strong>Name:</strong> {{user.name}}
        <br>
        <strong>Email:</strong> {{user.email}}
        <br>
        <strong>Address:</strong> {{user.address}}
        <br>
        <strong>Favorite Color:</strong> <select ng-model="user.color">
          <option>Red</option>
          <option>Green</option>
          <option>Orange</option>
          <option>Other</option>
        </select>
      </step>

      <step title="Summary">
        <strong>Name:</strong> {{user.name}}
        <br>
        <strong>Email:</strong> {{user.email}}
        <br>
        <strong>Address:</strong> {{user.address}}
        <br>
        <strong>Favorite Color:</strong> {{user.color}}
      </step>

    </wizard>

  </div>

  <a href="https://github.com/smsohan/angular_wizard">SourceCode on Github</a>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>